<%= form_with(model: [@test, @question], local: true) do |form| %>
  <%= render 'shared/errors', resource: question %>

  <div>
    <%= form.label :body %>
    <%= form.text_field :body %>
    <br>
  </div><br>

  <%= form.submit %> |

  <%= button_back(test_path(@test)) %>
<% end %>
