<h1><%= t('.passing', title: @test_passage.test.title) %></h1>

<% number_question = @test_passage.number_question.to_i %>
<% questions_count = @test_passage.test.questions.count.to_i %>

<div><%= render 'shared/timer' if @test_passage.test.timer %></div>

<%= content_tag(:div, content_tag(:div, "#{progress_percent(number_question - 1, questions_count)}%",
                                  class: 'bar-progress',
                                  data: { percent: progress_percent(number_question - 1, questions_count),
                                          previous: progress_percent(number_question - 2, questions_count) }),
                class: 'background-progress text-center') %>

<p>
  <b>
    <%= @test_passage.current_question.body %>
  </b>
</p>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <p>
    <%= t('.question', number_question: number_question, count: questions_count) %>
  </p>

  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>
  <p>
    <%= form.submit t('.next'), class: 'btn btn-outline-info' %>
    <%= link_to 'Gist Question', test_passage_gist_path(@test_passage), method: :post, class: 'btn btn-outline-warning' %>
  </p>
<% end %>
