<h1><%= t('.passing', title: @test_passage.test.title) %></h1>

<% now = @test_passage.number_question %>
<% max = @test_passage.test.questions.count %>


<%= content_tag(:div, content_tag(:div, "#{progress(now, max)}%",
                                  class: 'bar-progress',
                                  data: { percent: progress(now, max)}),
                class: 'background-progress text-center') %>

<p>
  <b>
    <%= @test_passage.current_question.body %>
  </b>
</p>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <p>
    <%= t('.question', number_question: now, count: max) %>
  </p>

  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>
  <p>
    <%= form.submit t('.next'), class: 'btn btn-outline-info' %>
    <%= link_to 'Gist Question', test_passage_gist_path(@test_passage), method: :post, class: 'btn btn-outline-warning' %>
  </p>
<% end %>
