<%= form_with(model: [:admin, @test, @question, @answer], local: true) do |form| %>
  <%= render 'shared/errors', resource: answer %>

  <p>
    <%= form.label 'Ответ' %><br>
    <%= form.select :correct, %w[true false], {}, { class: "custom-select" } %>
    <br>
  </p>

  <p>
    <%= form.label 'Текст ответа' %><br>
    <%= form.text_area :body, class: 'form-control' %>
    <br>
  </p>

  <%= form.submit class: 'btn btn-outline-success' %>
  <%= button_back(admin_question_path(@answer.question || @question)) %>
<% end %>
