<h1>Просмотр вопроса №<%=@question.id %></h1>

<%= link_to "Создать новый ответ", new_admin_question_answer_path(@question) %><br><br>
<p class="text-monospace">
  <%= @question.body %><br><br>
</p>
<%= render 'admin/answers/answer', answers: @answers %>

<%= button_back(admin_test_path(@question.test)) %>
