<h1>Просмотр теста <%=@test.title %></h1>

<%= link_to "Создать новый вопрос", new_admin_test_question_path(@test, @question) %><br><br>

<%= render 'admin/questions/question', questions: @questions %>

<br>
<%= link_to 'Редактировать', edit_admin_test_path(@test), class: 'btn btn-outline-warning' %>
<%= button_back(admin_tests_path) %>
