<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <br>
  <br>
  <footer>
    <%= current_year %>
    <%= github_url('IljaBekirov', 'TestGuru') %>
    <br><br>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/', target: '_blank' %>
    разработан для создания и прохождения тестов в сфере информационных технологий.
  </footer>
</html>
